
<div class="githubStats" >
  <h3>Github Stats</h3>
  <br>
  <div class="table-responsive col-lg-offset-2 col-lg-8" ng-show="!errorMessage && !showSpinner"> 
    <table class="table table-bordered" style="margin-bottom: 0">
      <thead>
        <tr>
          <th>
            <select class="form-control " ng-model="selectedTimeline" ng-options="t.displayName for t in timelines"></select>
          </th>
          <th>
            <select class="form-control " ng-model="exposure" ng-options="e.displayName for e in exposures"></select>
          </th>
        </tr>
      </thead>
    </table>
    <table class="table table-bordered" >
      <thead>
        <tr class="columHeaders">
          <th href="" ng-click="orderByField='name'; reverseSort = !reverseSort">
            <a >
              Repo 
              <span ng-show="orderByField == 'name'">
                <i class="icon ion-arrow-up-a" ng-show="!reverseSort"></i>
                <i class="icon ion-arrow-down-a" ng-show="reverseSort"></i>
              </span>
            </a>
          </th>
           <th ng-click="orderByField='releases.'+selectedTimeline.key; reverseSort = !reverseSort">
            <a >
              Releases
              <span ng-show="orderByField == 'releases.'+selectedTimeline.key">
                <i class="icon ion-arrow-up-a" ng-show="!reverseSort"></i>
                <i class="icon ion-arrow-down-a" ng-show="reverseSort"></i>
              </span>
            </a>
          </th>
           <th ng-click="orderByField='pullRequests.'+selectedTimeline.key; reverseSort = !reverseSort">
            <a >
              Pull Requests
              <span ng-show="orderByField == 'pullRequests.'+selectedTimeline.key">
                <i class="icon ion-arrow-up-a" ng-show="!reverseSort"></i>
                <i class="icon ion-arrow-down-a" ng-show="reverseSort"></i>
              </span>
            </a>
          </th>
          <th ng-click="orderByField='commits'; reverseSort = !reverseSort">
            <a >
              Commits
              <span ng-show="orderByField == 'commits'">
                <i class="icon ion-arrow-up-a" ng-show="!reverseSort"></i>
                <i class="icon ion-arrow-down-a" ng-show="reverseSort"></i>
              </span>
            </a>
          </th>
          <th ng-click="orderByField='authors.'+selectedTimeline.key; reverseSort = !reverseSort">
            <a >
              Authors
               <span ng-show="orderByField == 'authors.'+selectedTimeline.key">
                <i class="icon ion-arrow-up-a" ng-show="!reverseSort"></i>
                <i class="icon ion-arrow-down-a" ng-show="reverseSort"></i>
              </span>
            </a>
          </th>  
          <th ng-click="orderByField='forked'; reverseSort = !reverseSort">
            <a >
              Forked
              <span ng-show="orderByField == 'forked'">
                <i class="icon ion-arrow-up-a" ng-show="!reverseSort"></i>
                <i class="icon ion-arrow-down-a" ng-show="reverseSort"></i>
              </span>
            </a>
          </th>
          <th ng-click="orderByField='watched'; reverseSort = !reverseSort">
            <a >
              Watched By
              <span ng-show="orderByField == 'watched'">
                <i class="icon ion-arrow-up-a" ng-show="!reverseSort"></i>
                <i class="icon ion-arrow-down-a" ng-show="reverseSort"></i>
              </span>
            </a>
          </th>
          <th ng-click="orderByField='starred'; reverseSort = !reverseSort">
            <a >
              Starred By
              <span ng-show="orderByField == 'starred'">
                <i class="icon ion-arrow-up-a" ng-show="!reverseSort"></i>
                <i class="icon ion-arrow-down-a" ng-show="reverseSort"></i>
              </span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="repo in data|filter:exposure.filter|orderBy:orderByField:reverseSort">
          <td ><a ng-href="https://github.com/{{repo.fullName}}" target="_blank">{{repo.name}}</a></td>
          <td>{{repo.releases[selectedTimeline.key]}}</td>       
          <td> {{repo.pullRequests[selectedTimeline.key]}}</td>
          <td >{{repo.commits}}</td>
          <td>{{repo.authors[selectedTimeline.key]}}</td>       
          <td >{{repo.forked}}</td>
          <td >{{repo.watched}}</td>
          <td >{{repo.starred}}</td> 
        </tr>
      </tbody>
    </table>
  </div>
  <div ng-if="showSpinner">
    <h5>Loading (This May Take up to 45 Seconds)....</h5>
    <i class="icon ion-loading-b" ></i>
  </div>
  <div class="bg-danger" ng-show="errorMessage" >
    <h5>{{errorMessage}}</h5>
  </div>
</div>