
<div class="lineChartWithGrowthStats" style="text-align: center">
  <h3>{{title}}</h3>
  <br>
  <div ng-hide="showSpinner || errorMessage">
    <svg id='{{id}}' style="height: 500px; width: 100%;" ></svg>
    <br/>
    <table class="statsTable table">
      <thead>
        <tr><td>Period</td><td>{{growthStats.title}}</td></tr>
      </thead>
      <tbody>
        <tr><td>Today</td><td>{{growthStats.today | growthNumber}}</td></tr>
        <tr><td>Yesterday</td><td>{{growthStats.yesterday | growthNumber}}</td></tr>
        <tr ng-if="growthStats.last7Days"><td>Last 7 Days</td><td>{{growthStats.last7Days | growthNumber }}</td></tr>
        <tr ng-if="growthStats.total"><td>All Time</td><td>{{growthStats.total | growthNumber}}</td></tr>
        <tr><td>Grow MTD</td><td>{{growthStats.thisMonth|growthNumber:'%'}}</td></tr>
        <tr><td>Growth Last Month</td><td>{{growthStats.lastMonth|growthNumber:'%' }}</td></tr>
        <tr><td>Growth Last 3 Month</td><td>{{growthStats.last3Months|growthNumber:'%'}}</td></tr>
        <tr><td>Growth Last 12 Month</td><td>{{ growthStats.last12Months|growthNumber:'%'}}</td></tr>
      </tbody>
    </table>
  </div>
  <div ng-if="showSpinner">
    <h5>Loading....</h5>
    <i class="icon ion-loading-b" ></i>
  </div>
  <div class="bg-danger" ng-show="errorMessage" >
    <h5>{{errorMessage}}</h5>
    <!-- TODO: put a reload button here that clears the cache for this metric -->
  </div>
</div>