

<div class="container-fluid">
  <div class="row">
    <topic-response-time-line-graph class="col-lg-6"></topic-response-time-line-graph>
    <zendesk-response-time-line-graph class="col-lg-6"></zendesk-response-time-line-graph>
  </div>
  <div class="row">   
    <zendesk-resolution-time-line-graph class="col-lg-6"></zendesk-resolution-time-line-graph>
    <daily-touches-line-graph class="col-lg-6"></daily-touches-line-graph>
      
  </div>
  <div class="row">
    <active-displays-line-graph class="col-lg-6"></active-displays-line-graph>
    <daily-new-companies-line-chart class="col-lg-6"></daily-new-companies-line-chart>
  </div>
  <div class="row">
    <github-stats-table class="col-lg-12"></github-stats-table>
  </div>
  <div class="row">
    <active-displays-heat-map class="col-lg-12"></active-displays-heat-map>
  </div>
</div>