
#navbar{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FCFCFC;
  border-color: #F3F3F3;
}

#loginModal{
  .modal-dialog{
    margin: 87px auto;
  }
  .modal-title{
    text-align: center;
  }
  .modal-content{
    .modal-body{
      .btn-primary{
        background-color: #2D60AD;
        border-color: #172F55;
      }  
      text-align: center;
    }

    background-color: rgba(255, 255, 255, 0.95);
    .modal-footer{
      margin-top: 0; 
    } 

  }
}

.githubStats {
  text-align: center;
  
  .table-responsive{
    overflow: scroll;
    
    .columHeaders{
      background-color: lightgrey;
    }

    

    thead > tr > th {
      text-align: center;

    }
     tr :first-child{
      text-align: right;
    }
   

    a {
      color : #2D60AD;
    }

    th > a{
      text-decoration: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      user-select: none;
    }
  }

  
}